WCF/WCFService/ClientMex/Service References/ServiceReference1/meta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="machineDTO" nillable="true" type="q1:MachineDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="machineDTO" nillable="true" type="q2:MachineDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMachineNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>